{{!
    COPYRIGHT Ericsson 2024



    The copyright to the computer program(s) herein is the property of

    Ericsson Inc. The programs may be used and/or copied only with written

    permission from Ericsson Inc. or in accordance with the terms and

    conditions stipulated in the agreement/contract under which the

    program(s) have been supplied.
}}
{{!
  The only field that has been modified from original template is line 20
  Original file https://github.com/OpenAPITools/openapi-generator/blob/6b5794df9d90d8fba02cfadc3c4540d8662d3365/modules/openapi-generator/src/main/resources/JavaSpring/beanValidationQueryParams.mustache
}}
{{#required}}@NotNull{{#vendorExtensions.x-required-message}}(message="{{vendorExtensions.x-required-message}}"){{/vendorExtensions.x-required-message}} {{/required}}{{^useOptional}}{{>beanValidationCore}}{{/useOptional}}{{#useOptional}}{{#required}}{{>beanValidationCore}}{{/required}}{{/useOptional}}