apiVersion: v1
kind: Config
clusters:
- name: "hahn061"
  cluster:
    server: "https://gevalia.rnd.gic.ericsson.se/k8s/clusters/c-xz4bt"

users:
- name: "hahn061"
  user:
    token: "kubeconfig-u-lqnolym46g:t6zdjh6lstc55f92j9s2w58tckpqjx8xnhc5t5c96n6chbgkp9n55s"

contexts:
- name: "hahn061"
  context:
    user: "hahn061"
    cluster: "hahn061"

current-context: "hahn061"